.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* width: fit-content; */
  max-width: 500px;
  border: 5px solid black;
  border-radius: 15px;
  background-color: rgb(229, 148, 229);
}

.btn {
  padding: 5px;
  background-color: rgb(66, 214, 66);
  border-radius: 10px;
  cursor: pointer;
}