.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* width: fit-content; */
  max-width: 500px;
  border: 5px solid black;
  border-radius: 15px;
  background-color: rgb(229, 148, 229);
}

.btn {
  padding: 5px;
  background-color: rgb(66, 214, 66);
  border-radius: 10px;
  cursor: pointer;
}

button {
  width: auto;
  background-color: #ccc;
  border: none;
  color: #fff;
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}

.button-up {
  transform: rotate(-90deg);
}

.button-down {
  transform: rotate(90deg);
}

.button-right {
  transform: rotate(0deg);
  margin-left: 50px;
}

.button-left {
  transform: rotate(180deg);
}
